.chat-room-content {
    height: 100%;
    width: 100%;
    background-image: url("../../images/background-light.png");
    background-repeat: repeat-x;
    background-size: contain;
}
.chat-list {
    padding-top: 20px;
}
