.chat-room-content {
    height: 100%;
    width: 100%;
    background-image: url("../../images/background-light.png");
    background-repeat: repeat;
    background-size: contain;
    overflow-y: scroll;
    overflow-x: hidden;
}
.message-list {
    padding-top: 20px;
    max-width: 100%;
}
.first-msg-in-chat {
    background-color: $notification-bg;
    padding: 5px 12px 6px;
    text-align: center;
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba($shadow, 0.13);
    color: $icon-clr;
    align-self: center;
    flex: none;
    max-width: 100% !important;
    font-size: 12.5px;
    line-height: 21px;
    span {
        margin-right: 5px;
    }
    svg {
        width: 10px;
        height: 12px;
    }
}

.date-wrapper {
    .date-modal {
        padding: 5px 12px 6px;
        text-align: center;
        background-color: $bg-white;
        border-radius: 7.5px;
        box-shadow: 0 1px 0.5px rgba(rgba($shadow, 0.13), 0.13);
        max-width: 100% !important;
        font-size: 12.5px;
        line-height: 19px;
        color: $icon-clr;
    }
}
