.chat-preview {
    height: 72px;
    width: 100%;
    background: $bg-white;
    cursor: pointer;
    transition: background 0.2s;
    &:hover {
        background-color: $bg-hover;
    }

    .avatar-wrapper {
        padding: 0 15px 0 13px;
        margin-top: -1px;
        flex-grow: unset;
        flex: none;
        align-items: center;
        .avatar {
            width: 50px;
            height: 50px;
        }
    }
}
.preview-content {
    padding-right: 15px;
    border-top: 1px solid #e9edef;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
    height: 100%;
}
.last-msg-timestamp {
    color: $txt-grey;
    margin-top: 3px;
    margin-left: 6px;
    overflow: hidden;
    line-height: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    flex: none;
    max-width: 100%;
}
.chat-title {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    p {
        @include trim;
    }
}
.last-msg {
    margin-top: 2px;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
    flex-grow: 1;
    color: $txt-grey;
    overflow-x: hidden;
    p {
        @include trim;
    }
}
.extra-preview-icons{
    flex: none;
}
.unread {
}
.open-menu-btn {
    transform: translateX(10px);
    transition: all 0.24s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    flex: none;
}
.chat-preview:hover {
    .open-menu-btn {
        transform: translateX(0px);
        opacity: 1;
        cursor: pointer;
    }
}
