.header-icons {
    gap: 7px;
}

.icon-wrapper {
    padding: 8px;
    cursor: pointer;
}
.header .icon-wrapper:active {
    background-color: $btn-focus;
    border-radius: 50%;
}

.avatar-wrapper {
    flex-grow: 1;
}

.chat-list-title {
    flex-grow: 1;
    padding-left: 13px;
    font-weight: 500;
}
