.chat-room-footer {
    padding-right: 17px;
    padding-left: 10px;
    border-left: 1px solid #e9edef;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $bg-grey;
    align-items: flex-end;
    max-width: 100%;
    min-height: 62px;
    flex-grow: 1;
}
.chat-input-wrapper {
    padding: 9px 12px 11px;
    margin: 5px 10px;
    background-color: $bg-white;
    border: 1px solid$bg-white;
    border-radius: 8px;
    flex: 1 1 auto;
    // min-width: 0;
    min-height: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    // outline: none;
    input {
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        text-overflow: clip;
    }
}
.footer-content .icon-wrapper {
    flex: none;
}

// -----------------------------------ATTACHMENTS------------------------------
.icon-wrapper.attachment {
    position: relative;
}

.attachment-list {
    padding: 0 10px 7px;
    position: absolute;
    bottom: 50px;
    left: -15px;

    .attach-btn {
        margin-top: 15px;
        position: relative;
        flex: none;
        opacity: 0;
        transform-origin: top center;
        transform: scale(0);
        transition: all 0.5s ease;
    }
    &.open .attach-btn {
        opacity: 1;
        transform-origin: bottom;
        transform: scale(1);
    }
    .attach-btn:nth-of-type(5) {
        transition-delay: 0.05s;
    }
    .attach-btn:nth-of-type(4) {
        transition-delay: 0.1s;
    }
    .attach-btn:nth-of-type(3) {
        transition-delay: 0.15s;
    }
    .attach-btn:nth-of-type(2) {
        transition-delay: 0.2s;
    }
    .attach-btn:first-of-type {
        transition-delay: 0.25s;
    }
    .attach-btn svg {
        width: 53px;
        height: 53px;
    }
}
