.chat-room .header {
    border-left: 1px solid #d1d7db;
    padding: 10px 16px;
    @media #{$breakpoint-mobile} {
        padding: 0;
    }
}

.avatar-container {
    padding: 0 15px 0 0;
    overflow: hidden;
}
.chat-title p {
    @include trim;
}

.chat-info,
.chat-title {
    flex-grow: 1;
    overflow: hidden;
    span {
        font-weight: 400;
        color: $txt-grey;
        font-size: 0.8rem;
    @media #{$breakpoint-mobile} {color: $bg-white;}

    }

}
.chat-icons,
.avatar-container {
    flex: none;
}
