.chat-room-content {
    height: 100%;
    width: 100%;
    background-image: url("../../images/background-light.png");
    background-repeat: repeat;
    background-size: contain;
    overflow-y: scroll;
}
.message-list {
    padding-top: 20px;
    max-width: 100%;
}
