.message-wrapper {
    padding: 0px 5%;
    width: 100%;
    margin-bottom: 12px;

    @media #{$breakpoint1} {
        padding: 0px 5.5%;
    }
    @media #{$breakpoint2} {
        padding: 0px 6%;
    }
    @media #{$breakpoint3} {
        padding: 0px 7%;
    }
    @media #{$breakpoint4} {
        padding: 0px 9%;
    }
    &.message-in {
        justify-content: flex-start;
    }
    &.message-out {
        justify-content: flex-end;
    }
}

.message-container {
    color: $txt-primary;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px $shadow-light;
    position: relative;
    padding-bottom: 8px;

    &.message-in {
        border-top-left-radius: 0;
        background-color: $bg-white;
        margin-right: 30%;

        @media #{$breakpoint-mobile} {
            margin-right: 20%;
        }
    }
    &.message-out {
        background-color: $msg-green;
        border-top-right-radius: 0;
        margin-left: 30%;

        @media #{$breakpoint-mobile} {
            margin-left: 20%;
        }
        span {
            position: relative;
            top: 10px;
        }
    }

    .message {
        padding: 6px 7px 0px 9px;
        position: relative;

        cursor: pointer;
        user-select: text;
        width: fit-content;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        p {
            padding-bottom: 5px;
        }
        span {
            color: $txt-grey;
            font-size: 14px;
            vertical-align: top;
            float: right;
            user-select: none;

            svg {
                padding-bottom: 5px;
                color: #8696a0;
            }
        }

        //----------------------------------- talk bubble  -----------------------------------
        // &.first-message {
        &::before {
            position: absolute;
            left: -10px;
            top: 0;
            content: "";
            display: block;
            border: solid;
            border-width: 0px 16px 16px 0px;
            border-color: transparent;
            border-right-color: $bg-white;
            color: $bg-white;
        }
    }

    &.message-out .message::before {
        left: auto;
        right: -28px;
        border-width: 0px 16px 16px 16px;
        border-color: transparent;
        border-left-color: $msg-green;
        color: $msg-green;
    }
    // }

    //----------------------------------- option btn arrow ---------------------------------
    .options-btn {
        opacity: 0;
        position: absolute;
        top: 3px;
        right: 5px;
        pointer-events: none;
        // background-color: transparent;
        transform: translateX(10px);
        transition: all 0.2s ease-in-out;
        svg {
            width: 30px;
            height: 30px;
            color: #8696a0;
        }
    }

    &:hover .options-btn {
        transform: translateX(0px);
        opacity: 1;
        cursor: pointer;
        pointer-events: unset;
    }
    &.message-out .options-btn {
        background-color: $msg-green;
        box-shadow: 0 1px 12px 1px $msg-green;
    }
    &.message-in .options-btn {
        background-color: $bg-white;
        box-shadow: 0 1px 12px 1px $bg-white;
    }
}
