@import "../setup/variables";
@import "../setup/typography";

* {
  box-sizing: border-box;
}
html {
  line-height: 20px;
  scroll-behavior: smooth;
  font-family: $body-font;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($bg-black, 0.2);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4em;
  font-weight: normal;
}

p {
  margin: 0 0 0;
}

.avatar {
  border-radius: 50%;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

svg {
  color: #54656f;
  width: 24px;
  height: 24px;
}

li,
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.option-btn{
  position: relative;
}