@import "../setup/variables";
@import "../setup/typography";

* {
  box-sizing: border-box;
}
html {
  line-height: 20px;
  scroll-behavior: smooth;
  font-family: $body-font;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  @media (min-width: 800px) {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
  border: solid 1px #f5f5f500;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(125, 125, 125, 1);
}

::-webkit-scrollbar-corner {
  background: rgba(250, 250, 250, 1);
}




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4em;
  font-weight: normal;
}


p {
  margin: 0 0 0;
}


// .app-layout {
//   width: 90%;
//   max-width: 1200px;
//   margin: 0 auto;
//   @media (max-width: 900px) {
//     width: 100%;
//   }
// }
