// Colors
$whatsapp-teal: #128c7e;
$whatsapp-dark-teal: #075e54;
$primary-green: #25d366;
$whatsapp-blue: #34b7f1;

$msg-green: #d9fdd3;

$bg-hover: #f5f6f6;
$bg-grey: #f0f2f5;

$txt-primary: #111b21;
$txt-secondary: #3b4a54;

$bg-gradient:linear-gradient(180deg,#eae6df,#d1d7db);


// Breakpoints
$narrow-breakpoint: 720px;
$wide-screen-breakpoint: 1440px;

$body-font: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
