//Colors
$whatsapp-teal: #128c7e;
$whatsapp-dark-teal: #075e54;
$primary-green: #25d366;
$whatsapp-blue: #34b7f1;

$msg-green: #d9fdd3;

$bg-hover: #f5f6f6;
$bg-grey: #f0f2f5;

$bg-white: #fff;
$bg-black: #000;

$txt-primary: #111b21;
$txt-secondary: #3b4a54;
$txt-grey: #667781;

$icon-clr: #54656f;
$bg-gradient: linear-gradient(180deg, #eae6df, #d1d7db);
$shadow-light: rgba(11, 20, 26, 0.08);


// Breakpoints
$breakpoint1: "(min-width:720px)";
$breakpoint2: "(min-width:900px)";
$breakpoint3: "(min-width:1024px)";
$breakpoint4: "(min-width:1440px)";
$not-breakpoint4: "(max-width:1440px)";

//fonts
$body-font: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
